$small-breakpoint: 320px;
$medium-breakpoint: 480px;
$large-breakpoint: 768px;
$desktop-breakpoint: 1025px;
$max-content-breakpoint: 1280px;
$xxlg-content-breakpoint: 1440px;

///////////////////////////color variables////////////////////////////////
$color-lilac: #5d2598;
$color-grey: #969696;
$color-grey_light: #f5f5f5;
$color-pink: #e1359a;
$color-pink_light: #fe82cb;
$color-white: #ffffff;
$color-grey_strong: #4b4b4b;
$color-grey_middle: #969696;
$color-grey_soft: #dbdbdb;
$color-black: #000000;
$color-grey_lighter: #d9d9d9;
$color-grey_li: #ccc;

///////////////////////font variables/////////////////////////////////////
$fs-small: 12px;
$fs-big: 22px;
$fs-midlle: 16px;
$small-fw: 400;
$fw-bold: 800;
